
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" alt="foto perfil" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>{{persona.nombre}}</h2><br>
        <h5>Full Stack Web Developer Jr.</h5>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p> los datos traidos del back.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, deserunt tenetur pariatur possimus culpa rem sunt, 
                veniam blanditiis minus voluptate quam similique architecto voluptatum laborum provident, laboriosam ut ratione excepturi?
            </p>
        </span>
    </div>

 </div>
