
<div>
    <button type="button" class="btn btn-brand btn-warning" routerLink="/editacercade/1" *ngIf="isLogged">
        Cambiar datos personales
    </button>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} alt="foto perfil" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>{{persona.nombre}}</h2>
        <h2>{{persona.apellido}}</h2><br>
        <h5>Full Stack Web Developer Jr.</h5>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 descrip">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>

 </div>
