<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"><br><br><br>
        <ul>
            <li>
                <h3>Titulo 1</h3>  
                <h5>establecimiento</h5>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe incidunt a, necessitatibus soluta animi consectetur sit! Dolorem dicta dolorum quae laborum. Velit aspernatur sequi accusamus, cum officia in earum tempore.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Titulo 2</h3> 
                <h5>establecimiento</h5>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe incidunt a, necessitatibus soluta animi consectetur sit! Dolorem dicta dolorum quae laborum. Velit aspernatur sequi accusamus, cum officia in earum tempore.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Titulo 3</h3>
                <h5>establecimiento</h5>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe incidunt a, necessitatibus soluta animi consectetur sit! Dolorem dicta dolorum quae laborum. Velit aspernatur sequi accusamus, cum officia in earum tempore.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Titulo 4</h3>
                <h5>establecimiento</h5>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe incidunt a, necessitatibus soluta animi consectetur sit! Dolorem dicta dolorum quae laborum. Velit aspernatur sequi accusamus, cum officia in earum tempore.
            </p>
        </ul>
    </div>
</div>