<div class="row">
    <h1>Educación</h1><br><br><br>
    <div class="col-lg-2">
        <button type="button" class="btn btn-brand btn-warning" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educación
        </button><br><br>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h6>{{Educacion.nombreE}}</h6>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-brand btn-success" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil"></i> Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-brand btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>