<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sd-12 col-md-7 col-lg-7 parte1" >
            <h3>Portfolio estático</h3>
            <p>Creación de portfolio estático para Argentina Programa</p>
        </div>
        <div class="col-sd-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/estatico.png" alt="proyecto estatico" class="img-fluid img-proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sd-12 col-md-7 col-lg-7 parte1" >
            <h3>Portfolio distinto estilo de front.</h3>
            <p>Creación de portfolio dinámico para Argentina Programa</p>
        </div>
        <div class="col-sd-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/dinamico.png" alt="proyecto estatico" class="img-fluid img-proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sd-12 col-md-7 col-lg-7 parte1" >
            <h3>Ejercicio Base de Datos relacional para biblioteca</h3>
            <p>parte de la materia "Base de Datos", de la tecnicatura en programación de TecLab</p>
        </div>
        <div class="col-sd-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/biblioteca.png" alt="proyecto estatico" class="img-fluid img-proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sd-12 col-md-7 col-lg-7 parte1" >
            <h3>Juego Froggy en Scratch</h3>
            <p>Juego realizado en Scratch, para materia "Fundamentos de la informática" de la carrera Ingeniería en Informática, de la Facultad Nacional de Mar del Plata</p>
        </div>
        <div class="col-sd-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/inge.png" alt="proyecto estatico" class="img-fluid img-proyecto">
        </div>
    </div>
</div>