<div class="row">
  <h1>Proyectos</h1><br><br><br>
  <div class="col-lg-2">
      <button type="button" class="btn btn-brand btn-warning" routerLink="/newproyecto" *ngIf="isLogged">
          Nuevo Proyecto
      </button>
  </div><br><br>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Proyecto of proyectos">
                  <td>
                      <h6>{{Proyecto.nombreProyecto}}</h6>
                  </td>
                  <td><img class="card-img-top img-responsive img-thumbnail" src="{{ Proyecto.imgproyecto }}" alt="Imagen {{ Proyecto.nombreProyecto }}" /></td>
                  <td>{{ Proyecto.descripcionProyecto }}</td>
                  <td><a href="{{ Proyecto.linkproyecto }}" target="_blank" class="btn btn-outline-secondary">Ir al proyecto <i
                    class="bi bi-arrow-right-square-fill"></i></a></td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-brand btn-success" routerLink="/editproyecto/{{ Proyecto.id }}">
                          <i class="bi bi-pencil"></i> Editar</button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-brand btn-danger" (click)="delete(Proyecto.id)">
                          <i class="bi bi-trash"></i> Borrar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>