<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo lobo.png" alt="logo lobo" id="LogoAp">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/DavidGinaca?tab=repositories" class="btn btn-brand m-2"
                  target="_blank" alt="botón github"><img src="../../../assets/github-sign.png" id="imgGit"></a>
                <a href="https://www.facebook.com/dginaca" class="btn btn-brand m-2" target="_blank" alt="botón Facebook"><img
                    style="flex-direction: column" src="../../../assets/face.png" /></a>
                <a href="https://www.instagram.com/davidginaca/" class="btn btn-brand m-2" target="_blank" alt="botón Instagram"><img
                    style="flex-direction: column" src="../../../assets/insta.png" /></a>
                <a href="https://www.linkedin.com/in/david-emiliano-ginaca-a59653232/" class="btn btn-brand m-2"
                  target="_blank" alt="botón LinkedIn"><img style="flex-direction: column" src="../../../assets/linkedin.png" /></a>
                  <button type="button" class="btn btn-brand mt-2" style="border-width: medium;" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                  <button type="button" class="btn btn-brand mt-2" style="border-width: medium;" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
              </div>
        </div>
    </div>

</div>





