<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/html.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/css.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/jv.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/angular.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/boot.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/mysql.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/empatia.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/curiosidad.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-ms-4 col-md-4 col-lg-4 text-center">
             <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/critico.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#deff58'"
        [innerStrokeColor]="'#e0f780'"
        [animation]="true"
        [backgroundColor]="'#1f2d38'"
        [animationDuration]="600"
        ></circle-progress>
    </div>

</div>